body {
  min-width: 320px;
  max-width: 1400px;
  margin: 0 auto;
  background-color: inherit;
  color: inherit;
}

a {
  font-weight: 500;
  color: #526738;
  text-decoration: inherit;
}
a:hover {
  color: #4e0f33;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid var(--color-button-border);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-button-bg);
  color: var(--color-button-text);
  cursor: pointer;
  transition:
    border-color 0.25s,
    background-color 0.3s,
    color 0.3s;
}
button:hover {
  border-color: var(--color-button-hover-border);
  background-color: var(--color-button-hover-bg);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
