body {
  min-width: 320px;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  background-color: inherit;
  color: inherit;
}


a {
  font-weight: 500;
  color: #526738;
  text-decoration: inherit;
}
a:hover {
  color: #4E0F33;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #4E0F33;
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.3s;
}
button:hover {
  border-color: #526738;
  background-color: #526738;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #f2e6ea;
    background-color: #4E0F33;
  }
  a:hover {
    color: #5A3148;
  }
  button {
    background-color: #f2e6ea;
    color: #4E0F33;
  }
  button:hover {
    background-color: #5A3148;
    color: #fff;
    border-color: #5A3148;
  }
}
